name: CI

on:
  push:
    paths-ignore:
      - "book/"
      - "book/**"
      - "**/README.md"
      - ".github/workflows/wokwi_projects.yml"
  pull_request:
    paths-ignore:
      - "book/"
      - "book/**"
      - "**/README.md"
      - ".github/workflows/wokwi_projects.yml"
  schedule:
    - cron: "50 7 * * *"

env:
  CARGO_TERM_COLOR: always
  SSID: Wokwi-GUEST
  PASSWORD: ""

jobs:
  hello-world:
    name: hello-world
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
